.container{
    width: 100vw;
    height: 92vh;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row nowrap;
    justify-content: flex-start;
    align-items:flex-start;
    column-gap: 20rem;
}