*, *::after, *::before{
    box-sizing: border-box;
}

body{
    height: 100dvh;
    width: 100dvw;
    font-size: 10px;
    color: white;
    margin: 0;
    padding: 0;
    background: url(./assets/Background2.svg);
}